:root {
    --header-color: var(--theme-color2);
    --header-text-wrapper-background-color: var(--theme-color4);
}

.app-header {
    height: calc(15vh + 64px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: calc(12px + 2vmin);
    background-image: var(--header-background);
    background-color: var(--header-background-color);
    background-repeat: repeat;
    /*60% because of navbar offset*/
    background-position: 0 0;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
}

@media (max-width: 500px) {
    /*naisu*/
    .app-header {
        height: calc(2vh + 64px);
        background-position: 0 60%;
        background-attachment: scroll;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.headerArt {
    height: 100%;
    max-width: 100%;
}
