.app-header {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    background-image: url(../../assets/backgrounds/header_bg.png);
    background-color: #fffde2;
    background-repeat: no-repeat;
    background-size: cover;
    /*60% because of navbar offset*/
    background-position: 50% 60%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;

    padding-top: 64px;
}

.header-top {
    width: 100%;

    color: #e62b48;
    text-align: center;
    font-size: 50px;

    background-color: #fff0e37d;
}

.header-bottom {
    width: 100%;

    text-align: center;
    color: #e62b48;
    font-size: 50px;

    background-color: #fff0e37d;
}

@media (max-width: 1500px) {
    .header-top {
        font-size: 40px;
    }
    .header-bottom {
        font-size: 40px;
    }
}

@media (max-width: 800px) {
    .app-header {
        background-size: 100%;
        background-attachment: scroll;

    }

    .header-top {
        font-size: 25px;
        margin-top: 7vh;
    }
    .header-bottom {
        font-size: 25px;
    }
}

@media (max-width: 500px) {

    .header-top {
        font-size: 20px;
        background-color: transparent;
        margin-top: 5vh;
    }
    .header-bottom {
        font-size: 20px;
        background-color: transparent;
        margin-bottom: 5vh;
    }
}

/*Align with navbar height*/
@media (max-width: 310px) {
    .app-header {
        justify-content: space-between;
    }
}

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}
