.app-header {
    max-height: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    background-image: url(../../assets/backgrounds/header_bg.png);
    background-color: #fffde2;
    background-repeat: no-repeat;
    background-size: 100% auto;
    /*60% because of navbar offset*/
    background-position: 0 0;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;

    padding-top: 64px;
}


.header-top {
    width: 100%;

    color: #e62b48;
    text-align: center;
    font-size: 50px;

    background-color: #fff0e37d;
}

.header-bottom {
    width: 100%;

    text-align: center;
    color: #e62b48;
    font-size: 50px;

    background-color: #fff0e37d;
}

@media (max-width: 1400px) {
    .app-header {
        background-size: cover;
    }
    .header-top {
        font-size: 40px;
    }
    .header-bottom {
        font-size: 40px;
    }
}

@media (max-width: 800px) {
    .header-top {
        font-size: 25px;
    }
    .header-bottom {
        font-size: 25px;
    }
}

/*Point where Navbar overflows the icons down the column*/
@media (max-width: 720px) {
    .header-top {
        margin-top: 32px;
    }
}

@media (max-width: 500px) {
    .header-top {
        margin-top: 0;  /*font size undos the need for pushing down header*/
        font-size: 20px;
    }
    .header-bottom {
        font-size: 20px;
    }
}

@media (max-width: 420px /*naisu*/) {
}

/*Align with navbar height*/
@media (max-width: 310px) {
    .app-header {
        justify-content: space-between;
    }
}

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}
