.card-section {
    --card-height: 550px;
    --card-width: var(--card-height);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    overflow: auto;
    height: 100%;
}
