:root {
    --main-color: var(--theme-color1);
    --main-text-color: var(--theme-color2);
    --main-text-wrapper-background-color: var(--theme-color3);
}

.anchor-link {
  position: absolute;
  /*make smaller than separator*/
  padding-top: 1px;
  height: 35px;
  width: 35px;
  left: 0;
  right: 0;
  margin: auto;
  color:white;

  transition: all 0.25s ease;
}

.padding-top {
    padding-top: 2rem;
}

.padding-bottom {
    padding-bottom: 2rem;
}

.wrapper-overlay {
    padding: 2rem;
}

.justify-align-center {
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    .justify-align-center {
        max-width: 90%;
    }
}

.justify-center {
    display: flex;
    justify-content: center;
}

.separator {
    height: 40px;
    width: 100%;
    background-color: #076dc1;
}

.notice-container {
    width: 100%;
    min-width: 420px;
}

@media (max-width: 900px) {
    .notice-container {
        max-width: 90%;
    }
}

.notice-content {
    margin-top: 2vw;
    padding: 2rem;
    font-size: 20px;
    text-align: center;
    color: var(--main-text-color);
    background-color: #fff0e3;
    border-radius: 15px;
    text-decoration: none;
}

.height-width-100 {
    width: 100%;
    height: 100%;
}

.absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.single-column {
    columns: 1;
}

.text-center {
    text-align: center;
}

@media (max-width: 430px) {
    .notice-content {
        max-width: 100vw;
    }
    .notice-container {
        max-width: 100vw;
        min-width: 100vw;
    }
}
