:root {
    --footer-color: var(--theme-color2);
    --footer-text-wrapper-background-color: var(--theme-color4);
}

.app-footer {
    /* height should squish if viewport too short */
    max-height: 5vh;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: calc(12px + 2vmin);
    background-image: var(--footer-background);
    background-color: var(--footer-background-color);
    /* squish and add repeating images as needed to stay even */
    background-repeat: round;
    background-size: auto 100%;
    /*60% because of navbar offset*/
    background-position: 0 0;
    padding-top: 64px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
