:root {
    --single-anchor-background-color: #5e5097;
    --multiple-anchors-background-color: #0000000e;
    --multiple-anchors-background-color-hover: #00000050;
    --multiple-anchors-seperator-color: #ffffff65;
    --anchor-text-color: white;
}

.anchor-section {
    position: fixed;
    background-color: transparent;
    z-index: 99;
    margin: 5px;
    top: 50%;
    transition: all 0.4s ease;
}

.single {
    margin: 4vh 4vw;
    padding: 10px 10px;
    border-radius: 50px;
    background-color: var(--single-anchor-background-color);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.anchor-button p {
    opacity: 0;
    margin: 0;
    margin-top: -20px;
    transition: all 0.4s ease;
    margin-bottom: 2px;
    text-align: center;
}

.anchor-button a {
    text-decoration: none;
    color: var(--anchor-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.multiple {
    --element-count: 0;
    margin-top: calc(-1 * 2.5% * var(--element-count));
    padding: 16px 5px;
    border-radius: 25px;
    background-color: var(--multiple-anchors-background-color);
}

.multiple .anchor-button {
    opacity: .4;
}

.multiple:hover {
    background-color: var(--multiple-anchors-background-color-hover);
}

.multiple .anchor-button:hover {
    opacity: .8;
}

.multiple>div:nth-child(n+2)>.anchor-seperator {
    height: 20px;
    border-left: 4px solid var(--multiple-anchors-seperator-color);
    margin: 5px 0px;
    margin-left: calc(50% - 2px);
    border-radius: 8%;
}

@media (max-width: 425px) {
    .multiple {
        visibility: hidden;
    }
}

.active>.anchor-button {
    opacity: 1;
}

.anchor-button:hover p, .active>.anchor-button p {
    opacity: 1;
    margin-top: -3px;
}

.top {
    top: 0;
}

.bottom {
    top: unset;
    bottom: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}