.wrapper-overlay {
    padding: 2rem 4rem;
}

.main-video-container {
    width: 100%;
    box-sizing: border-box;
    height: 75vh;
    max-height: 768px;
}

@media (max-width: 900px) {
    .main-video-container {
        height: 50vh;
    }
}

.video-tag {
    float: left;
}
