.wrapper-overlay {
    padding: 2vh 4vw;
}

.main-video-container {
    width: 100%;
    box-sizing: border-box;
    height: 75vh;
    max-height: 768px;
}

@media (max-width: 900px) {
    .main-video-container {
        height: 50vh;
    }
}

.video-tag {
    float: left;
}

@media (min-width: 768px) {
    .main-message .card-header {
        background-image: url(../../assets/cards/AKUKIN_Card_Header_Base_12.png);
    }
}

@media (min-width: 1440px) {
    .main-message .card-header {
        background-image: url(../../assets/cards/AKUKIN_Card_Header_Base_14.png);
    }
}
