:root {
    --theme-color1: #000000; /*root background*/
    --theme-color2: #f05872; /*used for card text*/
    --theme-color3: #fff0e3; /*card bg color and anchor link color*/
    --theme-color4: #000000; /*Anchor link color*/

    --theme-card-text1: #202020;
    --theme-card-text2: #000000;
    --theme-card-background: #ffffff;

    --theme-special-text: #f0f0f0;
    --theme-special-background: #353772;
    --theme-special-background-alt: #555792;

    --main-background: url(assets/backgrounds/App-root-bg.svg);
    --main-background-color: #fffde2;

    --header-background: url(assets/backgrounds/header_bg.png);
    --header-background-color: #ffffff;

    --footer-background: url(assets/backgrounds/footer_bg.png);
    --footer-background-color: #ffffff00;

    --header-background-color: #ffffff;
    --separator-background-color: #ffffff;
}

body {
    margin: 0;
    font-family: 'Lato', 'Sawarabi Gothic', 'Cairo', 'Prompt', 'Noto Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    color: #fd438c;
    text-decoration-line: underline;
    text-decoration-color: rgba(255, 255, 255, 0);

    transition: all 0.1s ease;
}

a:hover {
    text-decoration-color: rgba(255, 255, 255, 1);
}
