.message-card {
    display: block;
    position: relative;
    width: auto;
    min-height: 100px;
    min-width: 330px;
    overflow: auto;
    border-radius: 15px;

    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 10px;

    background-repeat: no-repeat;
    background-size: cover;

    color: #f05872;

    list-style-type: none;
    object-fit: fill;

    transition: all 0.4s ease;
}

.message-card-text-container {
    max-width: 100%;
    margin: 0 auto;

    font-size: 24px;
}

.message-card-text {
}

.message-card-text-container > .clear {
    clear: both;
}

.fullwidth .message-card-text-container {
    width: 100%;
}

.message-card-footer-container {
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    float: right;
}

.message-card-footer-text {
    text-align: right;
}


.message-card-translate {
    /*the translate button properties*/
    position: absolute;
    bottom: 0;
    left: 0;
    float: left;
    width: 40px;
    height: 40px;
}

@media (max-width: 1000px) {
    .messagecard-center {
        display: flex;
        justify-content: center;
    }
}

.card-header {
    height: 100px;
}
