.message-card {
    display: block;
    position: relative;
    width: auto;
    min-height: 100px;
    min-width: 330px;
    overflow: auto;
    border-radius: 15px;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--main-text-color);
    list-style-type: none;
    object-fit: fill;
    transition: all 0.4s ease;
}

.message-card-text-container {
    max-width: 100%;
    margin: 0 0;
    font-size: 24px;
    overflow-y: scroll;
    scrollbar-width: none;
    margin-right: auto;
    margin-left: auto;
    height: var(--card-text-height);
    padding: 1rem;
}

::-webkit-scrollbar {
    display: none;
}

.message-card-text {
    opacity: 1;
    margin: auto 0;
    width: 100%;
    transition: opacity 0.6s ease;
}

.message-card-text.left {
    float: left;
}

.message-card-text.right {
    float: right;
}

.message-card-text.left.hidden {
    margin-left: -110%;
}

.message-card-text.right.hidden {
    margin-right: -110%;
}

.hidden {
    opacity: 0;
}

.message-card-text-container>.clear {
    clear: both;
}

.fullwidth .message-card-text-container {
    width: 100%;
}

.message-card-footer-padding-container {
    padding: 1rem;
    padding-top: 0px;
    height: var(--footer-height)
}

.message-card-footer-container {
    position: relative;
    width: 100%;
    height: var(--footer-height);
    float: right;
}

.message-card-footer-text {
    text-align: right;
}

.message-card-translate {
    /*the translate button properties*/
    position: absolute;
    bottom: 0;
    left: 0;
    float: left;
    width: 40px;
    height: 40px;
}

@media (max-width: 1000px) {
    .messagecard-center {
        display: flex;
        justify-content: center;
    }
}

.notice-container .base-card div .message-card-text-container {
    height: 100% !important;
}
