.base-card {
    --card-text-width: 420px;

    display: block;
    width: 100%;
    min-height: 1px;  /*DO NOT REMOVE THIS LINE. OTHERWISE YOU WILL EXPERIENCE PAIN IN TRYING TO FIX COLUMN STACKING ON CHROME/IOS*/
    overflow: auto;
    border-radius: 15px;
    padding: 15px;

    margin-bottom: 1rem;

    background-repeat: no-repeat;
    background-size: 100%;

    color: white;

    list-style-type: none;
    /*object-fit: fill;*/

    transition: all 0.4s ease;
}

.community-message-card .base-card {
    padding: 0px;
}

@media (max-width: 1000px) {
    .base-card {
        --card-text-width: 330px;
        width: 100%;
        max-width: 100vw;
    }
}

