:root {
    --footer-text-height: 25px;
    --footer-height: 40px;
}

.base-card {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 15px;
    background-color: var(--theme-card-header-background);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header-decal {
    width: 175px;
    height: 75px;
    position: relative;
    top: -80px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.card-header-decal-wrapper {
    align-content: center;
    display: flex;
    height: 0px;
    justify-content: center;
}

.card-section {
    --card-height: 550px;
    --card-width: var(--card-height);
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    /* overflow is required to keep cards 
     * from segmenting into different columns 
     * at certain resolutions */
    overflow: auto;
    height: 100%;
}

.card-content {
    --card-text-width: 420px;
    display: block;
    width: 100%;
    min-height: 1px;
    /*DO NOT REMOVE THIS LINE. OTHERWISE YOU WILL EXPERIENCE PAIN IN TRYING TO FIX COLUMN STACKING ON CHROME/IOS*/
    overflow: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    list-style-type: none;
    transition: all 0.4s ease;
}

.community-message-card .base-card {
    padding: 0px;
}

@media (max-width: 1000px) {
    .base-card {
        --card-text-width: 330px;
        width: 100%;
        max-width: 100vw;
    }
}

@media (max-width: 400px) {
    .base-card {
        --card-text-width: 300px;
    }
}

.card-header {
    height: 80px;
    background-size: 100% 100%;
    background-position-x: center;
    background-repeat: round;
    background-image: url(../../../assets/cards/AKUKIN_Card_Header_Base_10.png);
}

@media (max-width: 768px) {
    .card-header {
        background-image: url(../../../assets/cards/AKUKIN_Card_Header_Base_8.png);
    }
}

@media (max-width: 426px) {
    .card-header {
        background-image: url(../../../assets/cards/AKUKIN_Card_Header_Base_6.png);
    }
}

.card-footer {
    height: var(--footer-text-height);
    background-image: url(../../../assets/cards/AKUKIN_Card_footer.png);
    background-size: 100% 100%;
}