.artwork-card {
    min-height: 100px;
    overflow: auto;
    border-radius: 15px;

    padding: 1em;

    background-color: #f45787;
    color: white;
    transition: all 0.4s ease;
}

.artwork-card-img {
    margin: 2vw;
    height: var(--card-text-width);;
    position: relative;
    transition: all 0.4s ease;
}

.artwork-card-img > * {
    width: 100%;
    height: auto;
    max-height: 550px;

    position: relative;
    transition: all 0.4s ease;
}


.artwork-card-img > .effects {
    background-size: cover;
    background-position: center;
    filter: blur(50px);
}

.artwork-card-img > .placeholder {
    background-color: #000;
    border-radius: 15px;
    opacity: 1;
    transition: all 0.4s ease;
}

.artwork-card-img > .placeholder.loaded {
    opacity: 0;
}

.artwork-card-img > .image {
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: all 0.4s ease;
}

.artwork-card-img > .image.loaded {
    opacity: 1;
}


.artwork-card-img > img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;

    /*Aligns the image to the center of the card*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid black;
    border-radius: 15px;

    transition: all 0.4s ease;
}


.artwork-card-img > .image > img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;

    border: 2px solid black;
    border-radius: 15px;
}

.artwork-card-footer {
    margin: 20px 20px 0;
    color: white;
}

.artwork-card-footer > .title {
    font-size: 1.75rem;
}

.artwork-card-footer > .artist {
    margin-top: 10px;
}

a:link {
    color: #5a1c0c;
}


@media (max-width: 500px) {
    .artwork-card-img > .effects {
        display: none;
        filter: none;
    }
}
